name: 'default'

on:
  push:
    branches:
      - 'main'
    tags:
      - '*'
  pull_request:
    branches:
      - 'main'
  workflow_dispatch:

permissions:
  checks: 'write'
  security-events: 'write'
  contents: 'write'

jobs:
  default:
    uses: 'rios0rios0/pipelines/.github/workflows/go-binary.yaml@main'
    with:
      binary_name: 'ronin-to-koinly'
